@use 'variables' as v;

.dialog-alert {
  display: block;
  margin-bottom: v.$space-4;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: v.$space-2;
  margin-top: v.$space-2;
  padding-top: v.$space-4;
  border-top: 1px solid var(--border-color);
}
