<div class="form-group">
  @if (label()) {
    <label class="form-label" [for]="selectId">
      {{ label() }}
      @if (required()) {
        <span class="required-mark">*</span>
      }
    </label>
  }
  @if (multiple()) {
    <select
      class="form-control select-multiple"
      [class.is-invalid]="!!errorText()"
      [id]="selectId"
      multiple
      [disabled]="disabledState()"
      [required]="required()"
      (change)="handleChange($event)"
      (blur)="onTouched()"
    >
      @for (option of options(); track option.value) {
        <option [value]="option.value" [selected]="multiValue().includes(option.value)">{{ option.label }}</option>
      }
    </select>
  } @else {
    <select
      class="form-control"
      [class.is-invalid]="!!errorText()"
      [id]="selectId"
      [disabled]="disabledState()"
      [required]="required()"
      [value]="value()"
      (change)="handleChange($event)"
      (blur)="onTouched()"
    >
      <option value="" disabled>{{ placeholder() }}</option>
      @for (option of options(); track option.value) {
        <option [value]="option.value">{{ option.label }}</option>
      }
    </select>
  }
  @if (errorText()) {
    <span class="form-error">{{ errorText() }}</span>
  } @else if (help()) {
    <span class="form-help">{{ help() }}</span>
  }
</div>
