<div class="circular-progress" [style.width.px]="size()" [style.height.px]="size()">
  <svg [attr.viewBox]="'0 0 ' + size() + ' ' + size()">
    <circle
      class="track"
      [attr.cx]="size() / 2"
      [attr.cy]="size() / 2"
      [attr.r]="radius()"
      [attr.stroke-width]="strokeWidth()"
      fill="none"
    ></circle>
    <circle
      class="fill"
      [attr.cx]="size() / 2"
      [attr.cy]="size() / 2"
      [attr.r]="radius()"
      [attr.stroke-width]="strokeWidth()"
      fill="none"
      [attr.stroke-dasharray]="circumference()"
      [attr.stroke-dashoffset]="offset()"
    ></circle>
  </svg>
  <span class="circular-progress-label">{{ clamped() }}%</span>
</div>
