@if (open()) {
  <div class="modal-backdrop" (click)="onBackdropClick()">
    <div
      class="modal-panel"
      [class.modal-sm]="size() === 'sm'"
      [class.modal-lg]="size() === 'lg'"
      [class.modal-fullscreen]="size() === 'fullscreen'"
      role="dialog"
      aria-modal="true"
      [attr.aria-label]="title()"
      (click)="$event.stopPropagation()"
    >
      @if (title() || showClose()) {
        <div class="modal-header">
          <h2 class="modal-title">{{ title() }}</h2>
          @if (showClose()) {
            <button type="button" class="modal-close" (click)="close()" aria-label="Close dialog">
              <app-icon name="x" [size]="18"></app-icon>
            </button>
          }
        </div>
      }
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
}
